<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter_analysis</title>
    <link rel="shortcut icon" type="image/x-icon" href="//abs.twimg.com/favicons/favicon.ico">
    <script src="../static/js_files/main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <form>
        <div id="search-block">
            <label for="main-search"></label><input id="main-search" autocomplete="off" type="text">
            <button class="main-button"> <span id = "+"> + </span> </button>
        </div>
    </form>
    <div id="list-block">
        <ul>

        </ul>
    </div>
</body>
</html>
